.corpo{
     background-color: rgb(238, 119, 192);
}
.titulo{
     font-size: 50px;color:white; background: rgb(242, 0, 255); text-align: center;
}
.texto-imc{
    font-size: 50px;
    text-align: center;
}