.corpo{
     background-color: rgb(238, 87, 0);
}
.titulo{
     font-size: 50px;color:white; background: rgb(0, 30, 151); text-align: center;
}
.texto-imc{
    font-size: 50px;
    text-align: center;
}